.root {
    -fx-background-image: url("1.jpg");
    -fx-background-size: cover;
}


.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #5a1c63;
}

.diners-button {
    -fx-padding: 0.3em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #d3322a;
    -fx-pref-width: 120;
    -fx-text-fill: WHITE;
}

.months-button {
    -fx-padding: 0.3em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #247720;
    -fx-pref-width: 120;
    -fx-text-fill: WHITE;
}

.times-button {
    -fx-padding: 0.3em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #203b77;
    -fx-pref-width: 120;
    -fx-text-fill: WHITE;
}

.line-button {
    -fx-padding: 0.2em 0.57em;
    -fx-font-size: 13px;
    -jfx-button-type: FLAT;
    -fx-background-color: #5a1c63;
    -fx-pref-width: 120;
    -fx-text-fill: WHITE;
}

.bar-button {
    -fx-padding: 0.2em 0.57em;
    -fx-font-size: 13px;
    -jfx-button-type: FLAT;
    -fx-background-color: #562c19;
    -fx-pref-width: 120;
    -fx-text-fill: WHITE;
}

.pie-button {
    -fx-padding: 0.2em 0.57em;
    -fx-font-size: 13px;
    -jfx-button-type: FLAT;
    -fx-background-color: #937871;
    -fx-pref-width: 120;
    -fx-text-fill: WHITE;
}

.area-button {
    -fx-padding: 0.2em 0.57em;
    -fx-font-size: 13px;
    -jfx-button-type: FLAT;
    -fx-background-color: #1caf9c;
    -fx-pref-width: 120;
    -fx-text-fill: WHITE;
}

.twoyears-button {
    -fx-padding: 0.1em 0.57em;
    -fx-font-size: 12px;
    -jfx-button-type: FLAT;
    -fx-background-color: #5b826d;
    -fx-pref-width: 120;
    -fx-text-fill: WHITE;
}

.oneyear-button {
    -fx-padding: 0.1em 0.57em;
    -fx-font-size: 12px;
    -jfx-button-type: FLAT;
    -fx-background-color: #843774;
    -fx-pref-width: 120;
    -fx-text-fill: WHITE;
}

.thisyear-button {
    -fx-padding: 0.1em 0.57em;
    -fx-font-size: 12px;
    -jfx-button-type: FLAT;
    -fx-background-color: #365e87;
    -fx-pref-width: 120;
    -fx-text-fill: WHITE;
}

.allyear-button {
    -fx-padding: 0.1em 0.57em;
    -fx-font-size: 12px;
    -jfx-button-type: FLAT;
    -fx-background-color: #675b82;
    -fx-pref-width: 120;
    -fx-text-fill: WHITE;
}

.generate-button {
    -fx-padding: 0.3em 0.57em;
    -fx-font-size: 12px;
    -jfx-button-type: FLAT;
    -fx-pref-width: 110;
    -fx-text-fill: BLACK;
}

.generate-button:hover {
    -fx-padding: 0.3em 0.57em;
    -fx-font-size: 12px;
    -jfx-button-type: FLAT;
    -fx-background-color: #359985;
    -fx-pref-width: 110;
    -fx-text-fill: WHITE;
}

.back-button {
    -fx-padding: 0.2em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #991e57;
    -fx-pref-width: 60;
    -fx-text-fill: WHITE;
}

.jfx-text-field {
    -fx-background-color: transparent;
    -fx-font-weight: BOLD;
    -fx-alignment: center;
    -fx-font-size: 12px;
}

.chart {
    -fx-padding: 10px;
    -fx-text-fill: #333333;
}

.chart-content {
    -fx-padding: 30px;
    -fx-text-fill: #333333;
}

.chart-title {
  -fx-text-fill: #5a1c63;
  -fx-font-size: 1.6em;
}
 
.axis-label {
  -fx-text-fill: #4682b4;
}

.axis {
    -fx-font-size: 1.4em;    
    -fx-tick-label-fill: #914800;
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}
 
.chart-legend-item-symbol{
   -fx-background-radius: 0;
}
 
.chart-legend-item{
    -fx-text-fill: #191970;
}