.root {
	/*-fx-background-image: url("edit.jpg");
	-fx-background-size: cover;
	-fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
}

.label {
    /*-fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
}

.next-button {
    -fx-padding: 0.3em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #20ad98;
    -fx-pref-width: 160;
    -fx-text-fill: WHITE;
}

.update-button {
    -fx-padding: 0.3em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #1c2f9e;
    -fx-pref-width: 160;
    -fx-text-fill: WHITE;
}

.cancel-button {
    -fx-padding: 0.3em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #7a216a;
    -fx-pref-width: 160;
    -fx-text-fill: WHITE;
}

.jfx-text-field {
    -fx-background-color: transparent;
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: #808080;
    -fx-alignment: top-left;
}